<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Karl von Randow</string>
	<key>Builder Version</key>
	<string>9537.85.10.17.1</string>
	<key>CFBundleDisplayName</key>
	<string>XeroReconciliationOK</string>
	<key>CFBundleIdentifier</key>
	<string>com.xk72.xeroreconciliationok</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>xero.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>https://*.xero.com/Bank/BankRec.aspx</string>
		</array>
	</dict>
	<key>DeveloperIdentifier</key>
	<string>9A5PCU4FSD</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.xero.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
